<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <div th:replace="~{fragments :: resources('All Songs')}"></div>
</head>
<body>
    <!--HEADER-->
    <header th:replace="~{fragments :: header('songs')}"></header>
    <!--/HEADER-->
    <div class="container text-center py-4">
        <h1>This are the best songs:</h1>
        <ul>
            <li th:each="song : ${bestSongs}" class="mt-3">
                <a th:href="@{|/songs/${song.id}|}" th:text="${song.name}"></a>
            </li>
        </ul>
    </div>
</body>
</html>